.foul-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.foul-ball-label {
  position: absolute;
}

.free-ball-label {
  color: $off-white;
}

.black-label {
  color: $dark-grey;
  font-size: 0.8rem;

  @media (max-width: $desktop-breakpoint){
    font-size: 0.6rem;
  }
}