.foul-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.foul-ball-label {
  position: absolute;
}

.black-label {
  color: $dark-grey;
  font-size: 0.8rem;
}