.information {
  display: flex;
  flex-direction: column;  
  width: 100%;
  margin: $s-size 0;

  .information__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 $xxs-size;

    @media (max-width: $desktop-breakpoint){
      p {
        margin: 0;
      }
    }
  }

  .information__item-single {
    display: flex;
    justify-content: center;
  }
}

.important {
  color: red;
  animation: changeColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeColor {
  from {color: red}
  to {color: green}
}