.players {

  display: flex;
  justify-content: center;
  @media (max-width: $desktop-breakpoint) {
    .player_container {
      width: 50%;
      margin: 0 $xxs-size;
    }

    input {
      width: 100%;
    }
  }

  .player_container {    
    
  
    .selected {
      border: 3px solid $off-white;
    }
  
    .player_score {
      border: 2px solid $grey;
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;
      transition: border-color 200ms ease-in-out;
  
      &:hover,
      &:active {
      border-color: $off-white;
      }
      
      p {      
        font-size: $l-size;
        margin: $xs-size;
        text-align: center;      
      }
    }
  
    .player1 {
      margin-right: $xs-size;
    }
  
    .player2 {
      margin-left: $xs-size;
    }
  
    .player_frames_won {
      text-align: center;
      cursor: default;
    }
  }
}